<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

		977839926982100

	</head>

	<body>
		{{ partial "header.html" . }}
		<div class="flex-wrapper">
			<div class="container wrapper">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1 id=>{{ .Title }}</h1>
					</div>
				</div>
				{{ partial "postlist.html" . }}
				{{ partial "pagination" . }}
			</div>
			{{ partial "footer.html" . }}
		</div>
		<!-- Default Statcounter code for The Donald Schulz Project
		https://www.donaldschulz.com -->
		<script type="text/javascript">
			var sc_project=12867402; 
			var sc_invisible=1; 
			var sc_security="8a76a67e"; 
			</script>
			<script type="text/javascript"
			src="https://www.statcounter.com/counter/counter.js" async></script>
			<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
			Statcounter" href="https://statcounter.com/" target="_blank"><img
			class="statcounter" src="https://c.statcounter.com/12867402/0/8a76a67e/1/"
			alt="Web Analytics Made Easy - Statcounter"
			referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
			<!-- End of Statcounter Code -->		
	</body>
</html>
